<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwc.game.chess.ky.mapper.PlatformChangeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wwc.game.chess.ky.po.PlatformChangeRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="from_platform_name" property="fromPlatformName" jdbcType="VARCHAR" />
    <result column="from_platform_third_code" property="fromPlatformThirdCode" jdbcType="VARCHAR" />
    <result column="to_platform_name" property="toPlatformName" jdbcType="VARCHAR" />
    <result column="to_platform_third_code" property="toPlatformThirdCode" jdbcType="VARCHAR" />
    <result column="change_money" property="changeMoney" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="can_using_money" property="canUsingMoney" jdbcType="DECIMAL" />
    <result column="change_time" property="changeTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account, app_id, order_id, from_platform_name, from_platform_third_code, to_platform_name, 
    to_platform_third_code, change_money, status, can_using_money, change_time, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from platform_change_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from platform_change_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from platform_change_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecordExample" >
    delete from platform_change_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecord" >
    insert into platform_change_record (id, account, app_id, 
      order_id, from_platform_name, from_platform_third_code, 
      to_platform_name, to_platform_third_code, change_money, 
      status, can_using_money, change_time, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{fromPlatformName,jdbcType=VARCHAR}, #{fromPlatformThirdCode,jdbcType=VARCHAR}, 
      #{toPlatformName,jdbcType=VARCHAR}, #{toPlatformThirdCode,jdbcType=VARCHAR}, #{changeMoney,jdbcType=DECIMAL}, 
      #{status,jdbcType=TINYINT}, #{canUsingMoney,jdbcType=DECIMAL}, #{changeTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecord" >
    insert into platform_change_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="fromPlatformName != null" >
        from_platform_name,
      </if>
      <if test="fromPlatformThirdCode != null" >
        from_platform_third_code,
      </if>
      <if test="toPlatformName != null" >
        to_platform_name,
      </if>
      <if test="toPlatformThirdCode != null" >
        to_platform_third_code,
      </if>
      <if test="changeMoney != null" >
        change_money,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="canUsingMoney != null" >
        can_using_money,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fromPlatformName != null" >
        #{fromPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="fromPlatformThirdCode != null" >
        #{fromPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="toPlatformName != null" >
        #{toPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="toPlatformThirdCode != null" >
        #{toPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="changeMoney != null" >
        #{changeMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="canUsingMoney != null" >
        #{canUsingMoney,jdbcType=DECIMAL},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecordExample" resultType="java.lang.Integer" >
    select count(*) from platform_change_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update platform_change_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.appId != null" >
        app_id = #{record.appId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPlatformName != null" >
        from_platform_name = #{record.fromPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="record.fromPlatformThirdCode != null" >
        from_platform_third_code = #{record.fromPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="record.toPlatformName != null" >
        to_platform_name = #{record.toPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="record.toPlatformThirdCode != null" >
        to_platform_third_code = #{record.toPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="record.changeMoney != null" >
        change_money = #{record.changeMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.canUsingMoney != null" >
        can_using_money = #{record.canUsingMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.changeTime != null" >
        change_time = #{record.changeTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update platform_change_record
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      app_id = #{record.appId,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      from_platform_name = #{record.fromPlatformName,jdbcType=VARCHAR},
      from_platform_third_code = #{record.fromPlatformThirdCode,jdbcType=VARCHAR},
      to_platform_name = #{record.toPlatformName,jdbcType=VARCHAR},
      to_platform_third_code = #{record.toPlatformThirdCode,jdbcType=VARCHAR},
      change_money = #{record.changeMoney,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=TINYINT},
      can_using_money = #{record.canUsingMoney,jdbcType=DECIMAL},
      change_time = #{record.changeTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecord" >
    update platform_change_record
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="fromPlatformName != null" >
        from_platform_name = #{fromPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="fromPlatformThirdCode != null" >
        from_platform_third_code = #{fromPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="toPlatformName != null" >
        to_platform_name = #{toPlatformName,jdbcType=VARCHAR},
      </if>
      <if test="toPlatformThirdCode != null" >
        to_platform_third_code = #{toPlatformThirdCode,jdbcType=VARCHAR},
      </if>
      <if test="changeMoney != null" >
        change_money = #{changeMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="canUsingMoney != null" >
        can_using_money = #{canUsingMoney,jdbcType=DECIMAL},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wwc.game.chess.ky.po.PlatformChangeRecord" >
    update platform_change_record
    set account = #{account,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      from_platform_name = #{fromPlatformName,jdbcType=VARCHAR},
      from_platform_third_code = #{fromPlatformThirdCode,jdbcType=VARCHAR},
      to_platform_name = #{toPlatformName,jdbcType=VARCHAR},
      to_platform_third_code = #{toPlatformThirdCode,jdbcType=VARCHAR},
      change_money = #{changeMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      can_using_money = #{canUsingMoney,jdbcType=DECIMAL},
      change_time = #{changeTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>